p {
    color: darkblue;
    font-size: 20px;
}

* {
    margin: 10px;
    font-family: FreeMono, monospace;
}

ul, ol {
    font-style: italic;
}
body {
    width: 100%;
}
@media only screen and (max-device-width: 981px) {
    .logo-image2 {
        display: none;
    }

    /*.head-nav-bar {*/
    /*    height: 42px;*/
    /*    width: 100%;*/
    /*    padding-top: 50px;*/
    /*    align-content: center;*/
    /*    margin: auto auto 40px;*/
    /*}*/
}

body {
    background-image: url('font.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo-image, .logo-image2 {
    box-shadow: 30px 20px 15px 0 rgba(0, 0, 0, 0.5);
}

section:nth-child(even) {
    background-color: #d00858;
}

section:nth-child(odd) {
    background-color: #ffffff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 1em;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #075af3;
}

.head-nav-bar {
    height: 42px;
    width: 100%;
    padding-top: 50px;
    align-content: center;
    margin: auto auto 40px;
}

.footer-nav-bar {
    height: 42px;
    width: 100%;
    margin: auto;
}

.nav-item {
    flex: auto;
    text-align: center;
    background: #f30707;
}

form * {
    margin: initial;
}

form {
    position: absolute;
    width: 300px;
    margin: 0;
}

.search input {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 15px;
    background: #F9F0DA;
    color: #9E9C9C;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}
